# 거리계산 Matrix(0과 1사이 값으로 표현)
## 유클리디안 거리 계산이기 때문에 *!값이 작을수록!* 유사한 것임.

In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
warnings.filterwarnings(action='ignore')

# 네이버
- '액션', 'SF/판타지', '일상/개그', '공포/스릴러', '드라마', '순정/로맨스', '스포츠', '무협/시대극'

In [101]:
naver_result = pd.read_excel('naver_result.xlsx')
naver_result.head()

       title    R    G    B Genre1 Genre2 Genre3 Genre4  star_point
0  1초 시니  광운  214  194  193     액션    드라마    NaN    NaN        9.97
1  1초 시니  광운   36   30   42     액션    드라마    NaN    NaN        9.97
2  1초 시니  광운  104   94  105     액션    드라마    NaN    NaN        9.97
3  1초 시니  광운   95   59   72     액션    드라마    NaN    NaN        9.97
4  1초 시니  광운  154  111  123     액션    드라마    NaN    NaN        9.97

## 장르별로 dataframe 만들기

In [102]:
# 1. 액션
action = naver_result[(naver_result.Genre1 == '액션') | (naver_result.Genre2 == '액션') \
                      | (naver_result.Genre3 == '액션') | (naver_result.Genre4 == '액션') ]
action['Genre'] = '액션'
action = action[['title','R','G','B','Genre','star_point']]
action.reset_index(inplace=True)
action.drop('index',axis=1, inplace=True)
action.head()

       title    R    G    B Genre  star_point
0  1초 시니  광운  214  194  193    액션        9.97
1  1초 시니  광운   36   30   42    액션        9.97
2  1초 시니  광운  104   94  105    액션        9.97
3  1초 시니  광운   95   59   72    액션        9.97
4  1초 시니  광운  154  111  123    액션        9.97

In [103]:
# 2. SF/판타지
sf_fantasy = naver_result[(naver_result.Genre1 == 'SF/판타지') | (naver_result.Genre2 == 'SF/판타지') \
                      | (naver_result.Genre3 == 'SF/판타지') | (naver_result.Genre4 == 'SF/판타지') ]
sf_fantasy['Genre'] = 'SF/판타지'
sf_fantasy = sf_fantasy[['title','R','G','B','Genre','star_point']]
sf_fantasy.reset_index(inplace=True)
sf_fantasy.drop('index',axis=1, inplace=True)
sf_fantasy.head()

           title    R    G    B   Genre  star_point
0  2인용 인간 WONDER  238  227  212  SF/판타지        9.96
1  2인용 인간 WONDER   59   51   60  SF/판타지        9.96
2  2인용 인간 WONDER  165  184  181  SF/판타지        9.96
3  2인용 인간 WONDER  152  111  107  SF/판타지        9.96
4  2인용 인간 WONDER   63  128  189  SF/판타지        9.96

In [104]:
# 3. 일상/개그
daily_gag = naver_result[(naver_result.Genre1 == '일상/개그') | (naver_result.Genre2 == '일상/개그') \
                      | (naver_result.Genre3 == '일상/개그') | (naver_result.Genre4 == '일상/개그') ]
daily_gag['Genre'] = '일상/개그'
daily_gag = daily_gag[['title','R','G','B','Genre','star_point']]
daily_gag.reset_index(inplace=True)
daily_gag.drop('index',axis=1, inplace=True)
daily_gag.head()

         title    R    G    B  Genre  star_point
0  12차원 소년들 컷부  224  224  224  일상/개그        9.88
1  12차원 소년들 컷부   31   31   31  일상/개그        9.88
2  12차원 소년들 컷부  138  138  138  일상/개그        9.88
3  12차원 소년들 컷부  108  107  107  일상/개그        9.88
4  12차원 소년들 컷부  100  108  108  일상/개그        9.88

In [105]:
# 4. 공포/스릴러
thriller = naver_result[(naver_result.Genre1 == '공포/스릴러') | (naver_result.Genre2 == '공포/스릴러') \
                      | (naver_result.Genre3 == '공포/스릴러') | (naver_result.Genre4 == '공포/스릴러') ]
thriller['Genre'] = '공포/스릴러'
thriller = thriller[['title','R','G','B','Genre','star_point']]
thriller.reset_index(inplace=True)
thriller.drop('index',axis=1, inplace=True)
thriller.head()

               title    R    G    B   Genre  star_point
0  2019 귀신사용설명서 웹툰작가  196  192  189  공포/스릴러        9.08
1  2019 귀신사용설명서 웹툰작가   33   34   35  공포/스릴러        9.08
2  2019 귀신사용설명서 웹툰작가  104  107  111  공포/스릴러        9.08
3  2019 귀신사용설명서 웹툰작가   87   68   69  공포/스릴러        9.08
4  2019 귀신사용설명서 웹툰작가  129  116   64  공포/스릴러        9.08

In [106]:
# 5. 드라마
drama = naver_result[(naver_result.Genre1 == '드라마') | (naver_result.Genre2 == '드라마') \
                      | (naver_result.Genre3 == '드라마') | (naver_result.Genre4 == '드라마') ]
drama['Genre'] = '드라마'
drama = drama[['title','R','G','B','Genre','star_point']]
drama.reset_index(inplace=True)
drama.drop('index',axis=1, inplace=True)
drama.head()

       title    R    G    B Genre  star_point
0  1초 시니  광운  214  194  193   드라마        9.97
1  1초 시니  광운   36   30   42   드라마        9.97
2  1초 시니  광운  104   94  105   드라마        9.97
3  1초 시니  광운   95   59   72   드라마        9.97
4  1초 시니  광운  154  111  123   드라마        9.97

In [107]:
# 6. 순정/로맨스
romance = naver_result[(naver_result.Genre1 == '순정/로맨스') | (naver_result.Genre2 == '순정/로맨스') \
                      | (naver_result.Genre3 == '순정/로맨스') | (naver_result.Genre4 == '순정/로맨스') ]
romance['Genre'] = '순정/로맨스'
romance = romance[['title','R','G','B','Genre','star_point']]
romance.reset_index(inplace=True)
romance.drop('index',axis=1, inplace=True)
romance.head()

         title    R    G    B   Genre  star_point
0  8월의 눈보라 김리아  212  204  198  순정/로맨스        9.19
1  8월의 눈보라 김리아   46   48   65  순정/로맨스        9.19
2  8월의 눈보라 김리아  116  118  142  순정/로맨스        9.19
3  8월의 눈보라 김리아  146   60   59  순정/로맨스        9.19
4  8월의 눈보라 김리아  159  121  145  순정/로맨스        9.19

In [108]:
# 7. 스포츠
sports = naver_result[(naver_result.Genre1 == '스포츠') | (naver_result.Genre2 == '스포츠') \
                      | (naver_result.Genre3 == '스포츠') | (naver_result.Genre4 == '스포츠') ]
sports['Genre'] = '스포츠'
sports = sports[['title','R','G','B','Genre','star_point']]
sports.reset_index(inplace=True)
sports.drop('index',axis=1, inplace=True)
sports.head()

       title    R    G    B Genre  star_point
0  가비지타임 2사장  212  200  190   스포츠        9.96
1  가비지타임 2사장   44   60  101   스포츠        9.96
2  가비지타임 2사장  106  110  127   스포츠        9.96
3  가비지타임 2사장  117   62   58   스포츠        9.96
4  가비지타임 2사장  207  127   49   스포츠        9.96

In [109]:
# 8. 무협/시대극
historical = naver_result[(naver_result.Genre1 == '무협/시대극') | (naver_result.Genre2 == '무협/시대극') \
                      | (naver_result.Genre3 == '무협/시대극') | (naver_result.Genre4 == '무협/시대극') ]
historical['Genre'] = '무협/시대극'
historical = historical[['title','R','G','B','Genre','star_point']]
historical.reset_index(inplace=True)
historical.drop('index',axis=1, inplace=True)
historical.head()

     title    R    G    B   Genre  star_point
0  고래별 나윤희  111   93   81  무협/시대극        9.98
1  고래별 나윤희  221  198  160  무협/시대극        9.98
2  고래별 나윤희   29   31   41  무협/시대극        9.98
3  고래별 나윤희  172  177  177  무협/시대극        9.98
4  고래별 나윤희  138  148  185  무협/시대극        9.98

# 최강자전
- '액션', 'SF/판타지', '일상/개그', '공포/스릴러', '드라마', '순정/로맨스', '스포츠', '무협/시대극'

In [110]:
choigang_result = pd.read_excel('choigang_result.xlsx')
choigang_result.head()

      title    R    G    B   Genre
0  100일의 소년  231  222  224  순정/로맨스
1  100일의 소년   78   71   82  순정/로맨스
2  100일의 소년  164  139  145  순정/로맨스
3  100일의 소년  131   85   84  순정/로맨스
4  100일의 소년  215  170  154  순정/로맨스

In [111]:
# 1. 액션
action_choi = choigang_result[choigang_result.Genre=='액션']
action_choi.reset_index(inplace=True)
action_choi.drop('index', axis=1, inplace=True)
action_choi.head()

      title    R    G    B Genre
0  ASA (아사)  215  212  207    액션
1  ASA (아사)   28   27   27    액션
2  ASA (아사)  123  124  128    액션
3  ASA (아사)  112   83   79    액션
4  ASA (아사)  177  138  120    액션

In [112]:
# 2. SF/판타지
sf_fantasy_choi = choigang_result[choigang_result.Genre=='SF/판타지']
sf_fantasy_choi.reset_index(inplace=True)
sf_fantasy_choi.drop('index', axis=1, inplace=True)
sf_fantasy_choi.head()

     title    R    G    B   Genre
0  13번째 비밀  229  212  211  SF/판타지
1  13번째 비밀   39   33   42  SF/판타지
2  13번째 비밀  178  173  182  SF/판타지
3  13번째 비밀  153  121  118  SF/판타지
4  13번째 비밀  121  131  181  SF/판타지

In [113]:
#3. 일상/개그
daily_gag_choi = choigang_result[choigang_result.Genre=='일상/개그']
daily_gag_choi.reset_index(inplace=True)
daily_gag_choi.drop('index', axis=1, inplace=True)
daily_gag_choi.head()

      title    R    G    B  Genre
0  공주님은 알바중  190  146  112  일상/개그
1  공주님은 알바중   37   34   36  일상/개그
2  공주님은 알바중   94   59   50  일상/개그
3  공주님은 알바중  222  223  220  일상/개그
4  공주님은 알바중   89   90   83  일상/개그

In [114]:
# 4. 공포/스릴러
thriller_choi = choigang_result[choigang_result.Genre=='공포/스릴러']
thriller_choi.reset_index(inplace=True)
thriller_choi.drop('index', axis=1, inplace=True)
thriller_choi.head()

    title    R    G    B   Genre
0  그늘 아래에  228  221  215  공포/스릴러
1  그늘 아래에   22   20   20  공포/스릴러
2  그늘 아래에  128   62   58  공포/스릴러
3  그늘 아래에  169  130   88  공포/스릴러
4  그늘 아래에  133  131  133  공포/스릴러

In [115]:
# 5. 드라마
drama_choi = choigang_result[choigang_result.Genre=='드라마']
drama_choi.reset_index(inplace=True)
drama_choi.drop('index', axis=1, inplace=True)
drama_choi.head()

  title    R    G    B Genre
0  가면소녀   46   47   51   드라마
1  가면소녀  224  212  203   드라마
2  가면소녀  127  126  124   드라마
3  가면소녀  119   77   65   드라마
4  가면소녀  197  159  127   드라마

In [116]:
# 6. 순정/로맨스
romance_choi = choigang_result[choigang_result.Genre=='순정/로맨스']
romance_choi.reset_index(inplace=True)
romance_choi.drop('index', axis=1, inplace=True)
romance_choi.head()

      title    R    G    B   Genre
0  100일의 소년  231  222  224  순정/로맨스
1  100일의 소년   78   71   82  순정/로맨스
2  100일의 소년  164  139  145  순정/로맨스
3  100일의 소년  131   85   84  순정/로맨스
4  100일의 소년  215  170  154  순정/로맨스

In [117]:
# 7. 스포츠
sports_choi = choigang_result[choigang_result.Genre=='스포츠']
sports_choi.reset_index(inplace=True)
sports_choi.drop('index', axis=1, inplace=True)
sports_choi.head()

         title    R    G    B Genre
0  그날, 우리들의 여름   46   44   46   스포츠
1  그날, 우리들의 여름  231  219  204   스포츠
2  그날, 우리들의 여름  151  183  195   스포츠
3  그날, 우리들의 여름   85  121  220   스포츠
4  그날, 우리들의 여름  147  111   97   스포츠

In [118]:
# 8. 무협/시대극
historical_choi = choigang_result[choigang_result.Genre=='무협/시대극']
historical_choi.reset_index(inplace=True)
historical_choi.drop('index', axis=1, inplace=True)
historical_choi.head()

    title    R    G    B   Genre
0  꿈속의 천자   50   47   50  무협/시대극
1  꿈속의 천자  198  178  168  무협/시대극
2  꿈속의 천자  161  176  176  무협/시대극
3  꿈속의 천자  148  107   87  무협/시대극
4  꿈속의 천자  135  141  160  무협/시대극

## 거리계산

In [21]:
# Input: 리스트, 원소별로 곱셈하고 싶은 수
# Output: 각 원소에 num만큼 곱해진 리스트가 반환
def multiple(raw_list, num):
    new_list = []
    for i in raw_list:
        new_list.append(i * num)
    return new_list

In [74]:
# 두 dataframe의 RGB값을 유클리디안 거리 계산을 이용하여 행렬 생성
# Input: 한 장르에 해당하는 모든 웹툰의 상위 6개 RGB값이 있는 DataFrame, 한 웹툰의 상위 6개 RGB값이 있는 DataFrame
# Output: min-max scailed Matrix(모든 원소가 0과 1사이 값)
def cal_matrix(df_genre, df_toon):
    matrix = []
    idx_list = []
    
    for i in range(len(df_genre)):
        idx = '{},{},{}'.format(df_genre.loc[i, 'R'], df_genre.loc[i, 'G'], df_genre.loc[i, 'B'])
        idx_list.append(idx)
        color_list = []
        m = []
        for j in range(len(df_toon)):
            color = '{},{},{}'.format(df_toon.loc[j, 'R'], df_toon.loc[j, 'G'], df_toon.loc[j, 'B'])
            color_list.append(color)
            distance = np.sqrt((df_genre.loc[i,'R']-df_toon.loc[j,'R'])**2 \
                            + (df_genre.loc[i,'G']-df_toon.loc[j,'G'])**2 \
                            + (df_genre.loc[i,'B']-df_toon.loc[j,'B'])**2)
            m.append(distance)
  
        # 각 웹툰의 별점을 가중치로 곱해줌. 
        m = multiple(m, df_genre.loc[i,'star_point'])
        matrix.append(m)
        
    matrix = pd.DataFrame(matrix)
    #print(matrix)
    
    #min-max scaling
    max_rgb = np.sqrt((255)**2 + (255)**2 + (255)**2)*10
    matrix = matrix / max_rgb
    return matrix

In [75]:
# DataFrame의 모든 값을 더해서 평균냄.
# Input: cal_matrix를 통해 구한 행렬 DataFrame
# Output: 거리기반 점수(0과 1사이 값) -> 유사도와 반대개념이기 때문에 숫자가 작을수록 유사하다는 것을 의미.
def mean_df(df):
    sum_list = []
    for i in df:
        col = sum(df.loc[:,i])
        sum_list.append(col)
    sum_col = sum(sum_list)
    return sum_col / df.size

In [76]:
# 모든 웹툰을 각 장르에 맞게 유사도 점수 계산을 함.
# Input: 한 장르에 해당하는 모든 웹툰의 상위 6개 RGB값이 있는 DataFrame, 점수를 구하고 싶은 웹툰, 빈 리스트
# Output: 웹툰명, 장르, 유사점수(0일수록 유사)가 들어있는 2차원 리스트 반환
def webtoon_score(df_genre, df_toon, score_list):
    for title in df_toon.title.unique():
        print(title)
        row = []
        row.append(title)
        toon = df_toon[df_toon.title==title].reset_index()
        matrix = cal_matrix(df_genre, toon)
        #print(matrix)
        score = mean_df(matrix)
        #print(score)
        row.append(score)
        for k in df_toon[df_toon.title==title].Genre:
            genre = k
        row.append(genre)
        #print(row)
        score_list.append(row)
    return score_list

### 최강자전 scoring

In [77]:
score_list = []
a = webtoon_score(action, action_choi, score_list)
b = webtoon_score(sf_fantasy, sf_fantasy_choi, score_list)
c = webtoon_score(daily_gag, daily_gag_choi, score_list)
d = webtoon_score(thriller, thriller_choi, score_list)
e = webtoon_score(drama, drama_choi, score_list)
f = webtoon_score(romance, romance_choi, score_list)
g = webtoon_score(sports, sports_choi, score_list)
h = webtoon_score(historical, historical_choi, score_list)

ASA (아사)
SHINHWARANG(신화랑) 시즌1 부제학창영웅
고블린
리안
명왕(明王) 이순신
빤타스틱 스위퍼
엑스트라
킬러5
프리웨일즈
13번째 비밀
REBORN
가상&RPG
간택되었다냥!
건마왕증
내일, 오후
레메디
모래의 숲
방과후에
살아있는 용사의 후일담
수마의 도시
아르테미스 신드롬
아침을 지나 밤으로
양의 탈을 쓴 늑대
언니가 돌아왔다
엄마는 데블
여
오늘 죽는 너에게
오로지 오로라
왕년엔 용사님
요정채집전담반
웨일즈 (Whales)
이포스
인간이 되자
커피도둑
플랜터스의 정원
하루만 네가 되고싶어
홍해
히치하이커
공주님은 알바중
미생물을 좋아하세요!
봄, 감기
붓꽃 예술 고등학교
조국이 당신을 원한다
카타르시스 매지컬라이브
그늘 아래에
너는 언제나 그 자리에
망량
미스터리 Room
소원 수리함
이 세상에 惡은 없다
죽이고 싶지 않아
진저맨
태평대퇴마과
가면소녀
구의 모서리
길성공방(2030)
뉴 맨 (New Man)
다잉 갤러리
러버즈 시간여행
만가
멸망의 소년
바다의 끝에는 언제나 그 아이들이 있었다
배달의 제왕
백색왜성
봄이 없어도 괜찮아
사구신점
석산
스노우드롭
애물단지
어느 날, 핸드폰을 주웠다
어느날 액자에서 사람이 나왔다
어제의 세상
오아시스
온실의 밤
요괴다과점
청춘의 로맨스는 징크스와 함께
캔맥주 뒤에 사람있어요!
100일의 소년
나와 신님의 xx
나의 산타클로스
너를 사랑해도 돼지
너와 꿈을 거닐다
너와 두 번째
네가 사랑하는 아이돌 이야기
디어 레터
별을 삼킨 소녀에게
사활적 연애
상속녀 쟁탈전
세모김밥2호
시한부의 첫사랑
암욜팬 (I'm your fan)
중간계 사우나
퍼펙트 마인
하나뿐인 안드로이드
하늘은 왜 파랄까
그날, 우리들의 여름
바이커바이크
빌드업
펄스 나인
꿈속의 천자
대륙의 끝에서
대왕염라
라스트 디치
불행부터 재앙까지
우리들의 구미호

In [78]:
choigang_score = pd.DataFrame(score_list, columns=['title','Score','Genre'])

In [120]:
a = choigang_score.sort_values(by=['Genre','Score'])
a.to_excel('SCORE_CHOIGANG.xlsx')
a

                          title     Score   Genre
12                      간택되었다냥!  0.245058  SF/판타지
25                            여  0.251927  SF/판타지
37                        히치하이커  0.254482  SF/판타지
14                       내일, 오후  0.255731  SF/판타지
21                   아침을 지나 밤으로  0.256087  SF/판타지
20                    아르테미스 신드롬  0.256518  SF/판타지
30                 웨일즈 (Whales)  0.258645  SF/판타지
28                      왕년엔 용사님  0.259402  SF/판타지
33                         커피도둑  0.260037  SF/판타지
36                           홍해  0.261589  SF/판타지
13                         건마왕증  0.263901  SF/판타지
17                         방과후에  0.266214  SF/판타지
10                       REBORN  0.266362  SF/판타지
9                       13번째 비밀  0.268610  SF/판타지
27                      오로지 오로라  0.270026  SF/판타지
22                   양의 탈을 쓴 늑대  0.270230  SF/판타지
23                     언니가 돌아왔다  0.272313  SF/판타지
18                 살아있는 용사의 후일담  0.274385  SF/판타지
26                    오늘 죽는 너에게  0.276467  SF/판타지
32                       인간이 되자  0.281937  SF/판타지
34                     플랜터스의 정원  0.282160  SF/판타지
29                      요정채집전담반  0.285902  SF/판타지
15                          레메디  0.287196  SF/판타지
31                          이포스  0.288882  SF/판타지
11                       가상&RPG  0.290113  SF/판타지
24                       엄마는 데블  0.294032  SF/판타지
35                  하루만 네가 되고싶어  0.304239  SF/판타지
16                        모래의 숲  0.306173  SF/판타지
19                       수마의 도시  0.307570  SF/판타지
48                       소원 수리함  0.262307  공포/스릴러
..                          ...       ...     ...
77                     100일의 소년  0.258824  순정/로맨스
86                       사활적 연애  0.260497  순정/로맨스
90           암욜팬 (I'm your fan)  0.264927  순정/로맨스
92                       퍼펙트 마인  0.266489  순정/로맨스
81                    너와 꿈을 거닐다  0.268114  순정/로맨스
85                   별을 삼킨 소녀에게  0.276037  순정/로맨스
89                     시한부의 첫사랑  0.277673  순정/로맨스
79                     나의 산타클로스  0.291500  순정/로맨스
91                      중간계 사우나  0.297451  순정/로맨스
82                      너와 두 번째  0.300608  순정/로맨스
78                    나와 신님의 xx  0.304825  순정/로맨스
96                       바이커바이크  0.257250     스포츠
97                          빌드업  0.261558     스포츠
98                        펄스 나인  0.273878     스포츠
95                  그날, 우리들의 여름  0.292485     스포츠
8                         프리웨일즈  0.257696      액션
4                    명왕(明王) 이순신  0.260887      액션
3                            리안  0.261331      액션
0                      ASA (아사)  0.263051      액션
6                          엑스트라  0.264408      액션
1   SHINHWARANG(신화랑) 시즌1 부제학창영웅  0.283146      액션
7                           킬러5  0.289433      액션
2                           고블린  0.295052      액션
5                      빤타스틱 스위퍼  0.296069      액션
39                  미생물을 좋아하세요!  0.259540   일상/개그
40                        봄, 감기  0.264425   일상/개그
42                  조국이 당신을 원한다  0.272224   일상/개그
43                 카타르시스 매지컬라이브  0.277765   일상/개그
41                   붓꽃 예술 고등학교  0.282268   일상/개그
38                     공주님은 알바중  0.306715   일상/개그

[105 rows x 3 columns]

### 네이버 기존 웹툰 scoring

In [82]:
score_list2 = []
a = webtoon_score(action, action, score_list2)
b = webtoon_score(sf_fantasy, sf_fantasy, score_list2)
c = webtoon_score(daily_gag, daily_gag, score_list2)
d = webtoon_score(thriller, thriller, score_list2)
e = webtoon_score(drama, drama, score_list2)
f = webtoon_score(romance, romance, score_list2)
g = webtoon_score(sports, sports, score_list2)
h = webtoon_score(historical, historical, score_list2)

1초 시니  광운
MZ-레이징 인페르노 최훈  청설모
가슴털 로망스 갸오오
갓 오브 하이스쿨 박용제
갓!김치 김민우
갓핑크 이상신  국중록
개장수 김규삼
검은인간 이저녁
겟백 세윤
고삼무쌍 B급달궁  하마
공유몽 주신  유령선
그랜드 배틀 토너먼트 강냉이
극야 운  한 큰빛
금붕어 명랑  애풍
난약 정현주  박진환
더 게이머 성상영  상아
데드라이프 후렛샤  임진국
도망자 신영우
동토의 여명 김정휘
돼지우리 김칸비  천범식
둥굴레차! 기라3
레이드 신의철  김정현
로베스의 완전감각 정샛별
링크보이 광진  두엽
마법스크롤 상인 지오 엄재경  호패
무모협지 초신우
문래빗 이난
미드나잇 체이서 석재윤
버그 해마  송지형
부활남 채용택  김재한
블랙엔젤 meen  이동현
비질란테 CRG  김규삼
사신소년 류
사우러스 이노
사이드킥 2~3 신의철
숨킬더바디 이재헌  김태순
스위트홈 김칸비  황영찬
스터디그룹 신형욱  유승연
신을 죽이는 방법 나락  바밤
씬커 권혁주
아르마 병장
악취 디귿
약한영웅 서패스  김진석
어글리후드 미애
열렙전사 김세훈
오일머니 정하용  펜촉
요괴대전 강두식  장부규
일렉시드 손제호  제나
장씨세가 호위무사 조형근  김인호
초인의 시대 섭이
최강전설 강해효 최병열
킬러분식 (재) 한(恨)
킬링타임 혼
테러맨 한동우  고진호
트롤트랩 유비
평행도시 고다
하슬라 까를로스  유상진
하우스키퍼 채용택  유현
헬프탑 황인빈
호랑이형님 이상규
2인용 인간 WONDER
Doll 체인지 늉비
간 떨어지는 동거 나
갓!김치 김민우
갓물주 HD3
갓핑크 이상신  국중록
개장수 김규삼
고인의 명복 조주희  유노
공유몽 주신  유령선
괴물신부 임은  살모니티  스테익
귀전구담 QTT
그 판타지 세계에서 사는 법 촌장
꿈의 기업 문지현
나의 우주 공이  김문경
나이트런 김성민
난약 정현주  박진환
내 여자친구는 상남자컷툰 맛스타
내일 라마
냐한남자 올소
늑대와 빨간모자 슈안
니편내편 미티
다이스(DICE) 윤현석
더 게이머 성상영  상아
데드라이프 후렛샤  임진국
덴마 양영순
동토의 여명 김정휘
둥굴레차! 기라3
레사 시즌2~3 POGO
레이드 신의철  김정현
로베스의 완전감각 정샛별
롤랑롤랑 자유
루시퍼의 경호원 문설희  직선
링크보이 광진  두엽
마법스크롤 상인 지오 엄재경  호패
마왕이 되는 중2야 38
마음의 숙제 고아라
만물의 영장 보민
맘마미안 미티  구구
먹이 외눈박이  박수봉
모퉁이 뜨개방 소영
무주의 맹시 마누비
문래빗 이난
버그 해마  송지형
빙탕후루 장희  주호민
사신소년 류
사우러스 이노
사이드킥 2~3 신의철
성공한 덕후 옛사람
숨킬더바디 이재헌  김태순
신석기녀 재아  한가람
신시의 손님 이뫄
신암행어사 윤인완  양경일
신을 죽이는 방법 나락  바밤
신의 언어 장래혁
신의 탑 SIU
씬커 권혁주
아도나이 주동근
아르마 병장
악마와 계약연애 장진  움비
어글리후드 미애
에이머 구동인
연애의 정령 김호드
열렙전사 김세훈
옆반의 인어 요엔
외모지상주의 박태준
요괴대전 강두식  장부규
용비불패 완전판 류기운  문정후
용이산다 초
이계 무슨 황비 전현서  은영
인어를 위한 수영교실 용찬
일렉시드 손제호  제나
장씨세가 호위무사 조형근  김인호
전자오락수호대 가스파드
점핑오버 조니조  서사야
제로게임 즐바센
좀비딸 이윤창
참새는 새!신부 99C  백도
초인의 시대 섭이
취사병 전설이 되다 제이로빈  이진수
쿠베라 카레곰
킬링타임 혼
타인의 로맨스 호욱  만찐
트롤트랩 유비
특수 영능력 수사반 사다함
판타지 여동생! 유누
하늘쌤은 피곤해 hemo
하드캐리 조양
하르모니아 YOON  JINU
하우스키퍼 채용택  유현
합격시켜주세용 이온
합법해적 파르페 뼈피살
허니버니 소금
호곡 감대
호랑이형님 이상규
호러전파상 봄소희  김선희
히어로메이커 빤쓰
12차원 소년들 컷부
203호 저승사자 샤니
27-10 AJS
8월의 눈보라 김리아
가슴털 로망스 갸오오
가우스전자 시즌3~4 곽백수
간 떨어지는 동거 나
갓!김치 김민우
갓물주 HD3
갓핑크 이상신  국중록
교환일기 한끼룩
귀곡의 문 삼촌
내 여자친구는 상남자컷툰 맛스타
내일 라마
냐한남자 올소
냥하무인 박성현
노곤하개컷툰 홍끼
늑대와 빨간모자 슈안
대표님이 구독하셨습니다 신지원  한혜린
도망자 신영우
돼지만화컷툰 돼지작가
랜덤채팅의 그녀! 박은혁
롤랑롤랑 자유
마왕이 되는 중2야 38
마음의 숙제 고아라
마음의소리 조석
만물의 영장 보민
머리카락을 뽑으면 이다몽
모죠의 일지컷툰 모죠
모퉁이 뜨개방 소영
무모협지 초신우
문래빗 이난
바른연애 길잡이 남수
백귀야행지 아만(阿慢)
병의 기록 베어리
부로콜리왕자 산삼
삼국지톡컷툰 무적핑크  이리
성공한 덕후 옛사람
세상은 돈과 권력 한동우  이도희
소녀의 세계 모랑지
스터디그룹 신형욱  유승연
썸머 브리즈 한경찰
아싸! 달콤한 인생 HD3
어글리후드 미애
언덕 위의 제임스 쿠당탕
여기가 씨름부입니까 MU  만화인간
연놈 상하
연애의 정령 김호드
연애혁명 232
열불 로맨스 홍치
열정호구 솔뱅이
옆반의 인어 요엔
오라존미 허5파6
오로지 너를 이기고 싶어 아마도지  사삭
요리GO HO9
용이산다 초
우리 오빠는 아이돌 성은
웅이는 배고파 박웅
원주민 공포만화 원주민
윌유메리미 마인드C
유미의 세포들컷툰 이동건
유일무이 로맨스 두부
은주의 방 2~3부 노란구미
이것도 친구라고 제야
이두나! 민송아
일진이 사나워 강환영  김현아
자취로운 생활 츄카피
전자오락수호대 가스파드
좀비딸 이윤창
집이 없어 와난
치즈인더트랩 (재) 순끼
틴맘 theterm
패밀리 사이즈 남지은  김인호
푸들과 Dog거중컷툰 최삡뺩
플랫다이어리 임현
하늘쌤은 피곤해 hemo
한남동 케이하우스 박태준
합격시켜주세용 이온
합법해적 파르페 뼈피살
허니버니 소금
호랭총각 강호진
호러와 로맨스 루시드
2019 귀신사용설명서 웹툰작가
MZ-레이징 인페르노 최훈  청설모
겟백 세윤
교환일기 한끼룩
귀전구담 QTT
극야 운  한 큰빛
금요일 베스트 배진수
기기괴괴 오성대
꿈의 기업 문지현
니편내편 미티
데드라이프 후렛샤  임진국
돼지우리 김칸비  천범식
머니게임 배진수
먹이 외눈박이  박수봉
미시령 모코넛
백귀야행지 아만(阿慢)
비질란테 CRG  김규삼
세상은 돈과 권력 한동우  이도희
스위트홈 김칸비  황영찬
아도나이 주동근
악취 디귿
원주민 공포만화 원주민
이츠마인 럭스
자판귀 윤정민
치즈인더트랩 (재) 순끼
친애하는 X 반지운
커넥트 신대성
킬더킹 마사토끼  joana
킬러분식 (재) 한(恨)
킬링타임 혼
평행도시 고다
하르모니아 YOON  JINU
하슬라 까를로스  유상진
헬프탑 황인빈
호러전파상 봄소희  김선희
1초 시니  광운
27-10 AJS
5kg을 위하여 수오수  홍끼
8월의 눈보라 김리아
Here U Are D JUN
MZ-레이징 인페르노 최훈  청설모
가비지타임 2사장
가타부타타 숭어
간 떨어지는 동거 나
갓물주 HD3
개를 낳았다 이선
걸어서 30분 이온도
검은인간 이저녁
겟백 세윤
고래별 나윤희
괴물신부 임은  살모니티  스테익
교환일기 한끼룩
구름이 피워낸 꽃 비온후
귀곡의 문 삼촌
귀인 정연식  황진영
귀전구담 QTT
그날 죽은 나는 이언
금붕어 명랑  애풍
금혼령-조선혼인금지령 천지혜  산책
꿀벌과 아카시아 잔스
나의 우주 공이  김문경
날 가져요 원펀치래빗
내 여자친구는 상남자컷툰 맛스타
내일 라마
늑대와 빨간모자 슈안
니편내편 미티
대표님이 구독하셨습니다 신지원  한혜린
땅 보고 걷는 아이 다온
라스트 서브미션 이행복
랜덤채팅의 그녀! 박은혁
롤랑롤랑 자유
루시퍼의 경호원 문설희  직선
마음의 숙제 고아라
마음의소리 조석
맘마미안 미티  구구
머리카락을 뽑으면 이다몽
모퉁이 뜨개방 소영
몽연 김종진
무모협지 초신우
무주의 맹시 마누비
미드나잇 체이서 석재윤
밥 먹고 갈래요컷툰 오묘
방 안의 코끼리 고요
병의 기록 베어리
복학왕 기안84
부로콜리왕자 산삼
뷰티풀 군바리 설이  윤성원
빙탕후루 장희  주호민
삶이 우리를 속일지라도 김지수
성공한 덕후 옛사람
세상은 돈과 권력 한동우  이도희
소녀 연대기 지님
소녀의 세계 모랑지
속삭이는 e로맨스 최경아
스위트홈 김칸비  황영찬
스터디그룹 신형욱  유승연
식스틴 김인태
신시의 손님 이뫄
아도나이 주동근
아홉수 우리들 수박양
악마와 계약연애 장진  움비
여기가 씨름부입니까 MU  만화인간
여신강림 야옹이
연놈 상하
연애혁명 232
열정호구 솔뱅이
옆반의 인어 요엔
옆집친구 이한솔
오라존미 허5파6
오일머니 정하용  펜촉
외모지상주의 박태준
요리GO HO9
우리 오빠는 아이돌 성은
위대한 방옥숙 매미  희세
위장불륜 (僞裝不倫) 히가시무라 아키코
윈드브레이커 조용석
유일무이 로맨스 두부
은주의 방 2~3부 노란구미
이것도 친구라고 제야
이두나! 민송아
이제 곧 죽습니다 이원식  꿀찬
이츠마인 럭스
인어를 위한 수영교실 용찬
정년이 서이레  나몬
제로게임 즐바센
좋아하는 부분 타리
집이 없어 와난
참새는 새!신부 99C  백도
천사가 아니야 박유나  표류
첫사랑입니다만 산차
최강전설 강해효 최병열
취사병 전설이 되다 제이로빈  이진수
치즈인더트랩 (재) 순끼
친애하는 X 반지운
칼가는 소녀 오리
커넥트 신대성
킬더킹 마사토끼  joana
타인의 로맨스 호욱  만찐
틴맘 theterm
평범한 8반 영파카
프리드로우 전선욱
플랫다이어리 임현
피플 서승준  손창균
하슬라 까를로스  유상진
한남동 케이하우스 박태준
허니버니 소금
허니허니 웨딩 문나영
호랭총각 강호진
호러전파상 봄소희  김선희
홍시는 날 좋아해! 강하다  웃는해
화장 지워주는 남자 이연
8월의 눈보라 김리아
Here U Are D JUN
가타부타타 숭어
간 떨어지는 동거 나
같은도장 이힝
걸어서 30분 이온도
고래별 나윤희
구름이 피워낸 꽃 비온후
그래서 나는 안티팬과 결혼했다 재림
금혼령-조선혼인금지령 천지혜  산책
꽃 피는 날 두루
꽃미남 저승사자 사지현, 히어리  쌍필
꿀벌과 아카시아 잔스
나의 우주 공이  김문경
날 가져요 원펀치래빗
내 여자친구는 상남자컷툰 맛스타
두근두근 마감 중 연두  송이
루시퍼의 경호원 문설희  직선
머리카락을 뽑으면 이다몽
바른연애 길잡이 남수
방 안의 코끼리 고요
뱀파이어의 꽃 불사
삶이 우리를 속일지라도 김지수
성공한 덕후 옛사람
소녀의 세계 모랑지
속삭이는 e로맨스 최경아
신시의 손님 이뫄
썸머 브리즈 한경찰
아홉수 우리들 수박양
악마와 계약연애 장진  움비
안녕, 대학생 다니
여신강림 야옹이
연놈 상하
열불 로맨스 홍치
옆반의 인어 요엔
오늘의 순정망화 손하기
오로지 너를 이기고 싶어 아마도지  사삭
우리 오빠는 아이돌 성은
우주최강대스타 젤리피쉬  도힌이
위장불륜 (僞裝不倫) 히가시무라 아키코
유미의 세포들컷툰 이동건
유일무이 로맨스 두부
이계 무슨 황비 전현서  은영
이두나! 민송아
인어를 위한 수영교실 용찬
일진이 사나워 강환영  김현아
자판귀 윤정민
점핑오버 조니조  서사야
천사가 아니야 박유나  표류
첫사랑입니다만 산차
치즈인더트랩 (재) 순끼
칼가는 소녀 오리
타인의 로맨스 호욱  만찐
푸른사막 아아루 달꽃
한남동 케이하우스 박태준
허니허니 웨딩 문나영
호러와 로맨스 루시드
홍시는 날 좋아해! 강하다  웃는해
화장 지워주는 남자 이연
가비지타임 2사장
같은도장 이힝
격기3반 이학
라스트 서브미션 이행복
미드나잇 체이서 석재윤
여기가 씨름부입니까 MU  만화인간
윈드브레이커 조용석
고래별 나윤희
구름이 피워낸 꽃 비온후
귀인 정연식  황진영
몽홀 장태산
무모협지 초신우
빙탕후루 장희  주호민
삼국지톡컷툰 무적핑크  이리
용비불패 완전판 류기운  문정후
장씨세가 호위무사 조형근  김인호
정년이 서이레  나몬
칼부림 고일권
호랑이형님 이상규

In [83]:
naver_score = pd.DataFrame(score_list2, columns=['title','Score','Genre'])
naver_score

                   title     Score   Genre
0              1초 시니  광운  0.261245      액션
1    MZ-레이징 인페르노 최훈  청설모  0.252876      액션
2            가슴털 로망스 갸오오  0.278906      액션
3          갓 오브 하이스쿨 박용제  0.256718      액션
4               갓!김치 김민우  0.266460      액션
5           갓핑크 이상신  국중록  0.256129      액션
6                개장수 김규삼  0.273891      액션
7               검은인간 이저녁  0.249514      액션
8                  겟백 세윤  0.265700      액션
9          고삼무쌍 B급달궁  하마  0.270559      액션
10           공유몽 주신  유령선  0.266497      액션
11       그랜드 배틀 토너먼트 강냉이  0.275651      액션
12            극야 운  한 큰빛  0.271915      액션
13            금붕어 명랑  애풍  0.251804      액션
14           난약 정현주  박진환  0.263949      액션
15         더 게이머 성상영  상아  0.262001      액션
16        데드라이프 후렛샤  임진국  0.288306      액션
17               도망자 신영우  0.276565      액션
18            동토의 여명 김정휘  0.258130      액션
19         돼지우리 김칸비  천범식  0.273196      액션
20             둥굴레차! 기라3  0.256628      액션
21          레이드 신의철  김정현  0.299344      액션
22         로베스의 완전감각 정샛별  0.292243      액션
23           링크보이 광진  두엽  0.280358      액션
24   마법스크롤 상인 지오 엄재경  호패  0.264859      액션
25              무모협지 초신우  0.251473      액션
26                문래빗 이난  0.251180      액션
27          미드나잇 체이서 석재윤  0.254155      액션
28            버그 해마  송지형  0.261222      액션
29          부활남 채용택  김재한  0.264658      액션
..                   ...       ...     ...
437      천사가 아니야 박유나  표류  0.262162  순정/로맨스
438           첫사랑입니다만 산차  0.262386  순정/로맨스
439        치즈인더트랩 (재) 순끼  0.271876  순정/로맨스
440            칼가는 소녀 오리  0.255545  순정/로맨스
441       타인의 로맨스 호욱  만찐  0.261474  순정/로맨스
442          푸른사막 아아루 달꽃  0.277986  순정/로맨스
443        한남동 케이하우스 박태준  0.265218  순정/로맨스
444          허니허니 웨딩 문나영  0.274783  순정/로맨스
445          호러와 로맨스 루시드  0.266684  순정/로맨스
446  홍시는 날 좋아해! 강하다  웃는해  0.247028  순정/로맨스
447        화장 지워주는 남자 이연  0.254359  순정/로맨스
448            가비지타임 2사장  0.256539     스포츠
449              같은도장 이힝  0.251133     스포츠
450              격기3반 이학  0.276247     스포츠
451         라스트 서브미션 이행복  0.259499     스포츠
452         미드나잇 체이서 석재윤  0.256858     스포츠
453  여기가 씨름부입니까 MU  만화인간  0.264284     스포츠
454           윈드브레이커 조용석  0.278856     스포츠
455              고래별 나윤희  0.295724  무협/시대극
456        구름이 피워낸 꽃 비온후  0.291506  무협/시대극
457          귀인 정연식  황진영  0.301949  무협/시대극
458               몽홀 장태산  0.308122  무협/시대극
459             무모협지 초신우  0.256187  무협/시대극
460         빙탕후루 장희  주호민  0.262934  무협/시대극
461      삼국지톡컷툰 무적핑크  이리  0.274694  무협/시대극
462    용비불패 완전판 류기운  문정후  0.264231  무협/시대극
463   장씨세가 호위무사 조형근  김인호  0.249126  무협/시대극
464          정년이 서이레  나몬  0.269701  무협/시대극
465              칼부림 고일권  0.260958  무협/시대극
466            호랑이형님 이상규  0.280083  무협/시대극

[467 rows x 3 columns]

In [98]:
naver_score[naver_score.title=='겟백 세윤']

     title     Score   Genre
8    겟백 세윤  0.265700      액션
240  겟백 세윤  0.269825  공포/스릴러
286  겟백 세윤  0.261848     드라마

In [93]:
mean_naver = naver_score.pivot_table(index='title', aggfunc='mean', values='Score')
mean_naver

                        Score
title
12차원 소년들 컷부          0.262580
1초 시니  광운            0.258948
2019 귀신사용설명서 웹툰작가    0.257500
203호 저승사자 샤니         0.301598
27-10 AJS            0.293249
2인용 인간 WONDER        0.274705
5kg을 위하여 수오수  홍끼     0.255182
8월의 눈보라 김리아          0.255890
Doll 체인지 늉비          0.252674
Here U Are D JUN     0.257714
MZ-레이징 인페르노 최훈  청설모  0.259150
가비지타임 2사장            0.258136
가슴털 로망스 갸오오          0.280349
가우스전자 시즌3~4 곽백수      0.269372
가타부타타 숭어             0.256786
간 떨어지는 동거 나          0.259390
갓 오브 하이스쿨 박용제        0.256718
갓!김치 김민우             0.266727
갓물주 HD3              0.256629
갓핑크 이상신  국중록         0.261295
같은도장 이힝              0.249655
개를 낳았다 이선            0.253866
개장수 김규삼              0.276196
걸어서 30분 이온도          0.261484
검은인간 이저녁             0.251464
겟백 세윤                0.265791
격기3반 이학              0.276247
고래별 나윤희              0.291918
고삼무쌍 B급달궁  하마        0.270559
고인의 명복 조주희  유노       0.256830
...                       ...
특수 영능력 수사반 사다함       0.246117
틴맘 theterm           0.243590
판타지 여동생! 유누          0.258897
패밀리 사이즈 남지은  김인호     0.309606
평범한 8반 영파카           0.268981
평행도시 고다              0.256519
푸들과 Dog거중컷툰 최삡뺩      0.310104
푸른사막 아아루 달꽃          0.277986
프리드로우 전선욱            0.251648
플랫다이어리 임현            0.268615
피플 서승준  손창균          0.285649
하늘쌤은 피곤해 hemo        0.271768
하드캐리 조양              0.290789
하르모니아 YOON  JINU     0.257583
하슬라 까를로스  유상진        0.262625
하우스키퍼 채용택  유현        0.275395
한남동 케이하우스 박태준        0.267279
합격시켜주세용 이온           0.259673
합법해적 파르페 뼈피살         0.271022
허니버니 소금              0.261553
허니허니 웨딩 문나영          0.275165
헬프탑 황인빈              0.305504
호곡 감대                0.246719
호랑이형님 이상규            0.272096
호랭총각 강호진             0.284504
호러와 로맨스 루시드          0.268035
호러전파상 봄소희  김선희       0.263718
홍시는 날 좋아해! 강하다  웃는해  0.247727
화장 지워주는 남자 이연        0.255107
히어로메이커 빤쓰            0.256464

[242 rows x 1 columns]

In [100]:
b = pd.merge(naver_result, mean_naver, on='title')
b.to_excel('SCORE_NAVER.xlsx')
b

,title,R,G,B,Genre1,Genre2,Genre3,Genre4,star_point,Score
0,1초 시니 광운,214,194,193,액션,드라마,NaN,NaN,9.97,0.258948
1,1초 시니 광운,36,30,42,액션,드라마,NaN,NaN,9.97,0.258948
2,1초 시니 광운,104,94,105,액션,드라마,NaN,NaN,9.97,0.258948
3,1초 시니 광운,95,59,72,액션,드라마,NaN,NaN,9.97,0.258948
4,1초 시니 광운,154,111,123,액션,드라마,NaN,NaN,9.97,0.258948
5,1초 시니 광운,157,103,67,액션,드라마,NaN,NaN,9.97,0.258948
6,2인용 인간 WONDER,238,227,212,SF/판타지,NaN,NaN,NaN,9.96,0.274705
7,2인용 인간 WONDER,59,51,60,SF/판타지,NaN,NaN,NaN,9.96,0.274705
8,2인용 인간 WONDER,165,184,181,SF/판타지,NaN,NaN,NaN,9.96,0.274705
9,2인용 인간 WONDER,152,111,107,SF/판타지,NaN,NaN,NaN,9.96,0.274705
10,2인용 인간 WONDER,63,128,189,SF/판타지,NaN,NaN,NaN,9.96,0.274705
11,2인용 인간 WONDER,111,116,109,SF/판타지,NaN,NaN,NaN,9.96,0.274705
12,12차원 소년들 컷부,224,224,224,일상/개그,NaN,NaN,NaN,9.88,0.262580
13,12차원 소년들 컷부,31,31,31,일상/개그,NaN,NaN,NaN,9.88,0.262580
14,12차원 소년들 컷부,138,138,138,일상/개그,NaN,NaN,NaN,9.88,0.262580
15,12차원 소년들 컷부,108,107,107,일상/개그,NaN,NaN,NaN,9.88,0.262580
16,12차원 소년들 컷부,100,108,108,일상/개그,NaN,NaN,NaN,9.88,0.262580
17,12차원 소년들 컷부,116,116,108,일상/개그,NaN,NaN,NaN,9.88,0.262580
18,2019 귀신사용설명서 웹툰작가,196,192,189,공포/스릴러,NaN,NaN,NaN,9.08,0.257500
19,2019 귀신사용설명서 웹툰작가,33,34,35,공포/스릴러,NaN,NaN,NaN,9.08,0.257500
20,2019 귀신사용설명서 웹툰작가,104,107,111,공포/스릴러,NaN,NaN,NaN,9.08,0.257500
21,2019 귀신사용설명서 웹툰작가,87,68,69,공포/스릴러,NaN,NaN,NaN,9.08,0.257500
22,2019 귀신사용설명서 웹툰작가,129,116,64,공포/스릴러,NaN,NaN,NaN,9.08,0.257500
23,2019 귀신사용설명서 웹툰작가,142,119,124,공포/스릴러,NaN,NaN,NaN,9.08,0.257500
24,203호 저승사자 샤니,217,202,206,일상/개그,NaN,NaN,NaN,9.91,0.301598
25,203호 저승사자 샤니,28,34,45,일상/개그,NaN,NaN,NaN,9.91,0.301598
26,203호 저승사자 샤니,137,45,91,일상/개그,NaN,NaN,NaN,9.91,0.301598
27,203호 저승사자 샤니,183,152,60,일상/개그,NaN,NaN,NaN,9.91,0.301598
28,203호 저승사자 샤니,112,155,172,일상/개그,NaN,NaN,NaN,9.91,0.301598
29,203호 저승사자 샤니,45,187,167,일상/개그,NaN,NaN,NaN,9.91,0.301598
...,...,...,...,...,...,...,...,...,...,...
1422,호러와 로맨스 루시드,31,30,31,일상/개그,순정/로맨스,NaN,NaN,9.98,0.268035
1423,호러와 로맨스 루시드,219,211,203,일상/개그,순정/로맨스,NaN,NaN,9.98,0.268035
1424,호러와 로맨스 루시드,118,83,75,일상/개그,순정/로맨스,NaN,NaN,9.98,0.268035
1425,호러와 로맨스 루시드,128,129,127,일상/개그,순정/로맨스,NaN,NaN,9.98,0.268035
1426,호러와 로맨스 루시드,159,121,78,일상/개그,순정/로맨스,NaN,NaN,9.98,0.268035
1427,호러와 로맨스 루시드,205,165,110,일상/개그,순정/로맨스,NaN,NaN,9.98,0.268035
1428,호러전파상 봄소희 김선희,190,191,191,SF/판타지,드라마,공포/스릴러,NaN,9.87,0.263718
1429,호러전파상 봄소희 김선희,17,17,17,SF/판타지,드라마,공포/스릴러,NaN,9.87,0.263718
1430,호러전파상 봄소희 김선희,104,106,107,SF/판타지,드라마,공포/스릴러,NaN,9.87,0.263718
1431,호러전파상 봄소희 김선희,76,74,77,SF/판타지,드라마,공포/스릴러,NaN,9.87,0.263718
1432,호러전파상 봄소희 김선희,86,85,83,SF/판타지,드라마,공포/스릴러,NaN,9.87,0.263718
1433,호러전파상 봄소희 김선희,124,123,123,SF/판타지,드라마,공포/스릴러,NaN,9.87,0.263718
1434,홍시는 날 좋아해! 강하다 웃는해,214,207,209,순정/로맨스,드라마,NaN,NaN,9.97,0.247727
1435,홍시는 날 좋아해! 강하다 웃는해,49,45,60,순정/로맨스,드라마,NaN,NaN,9.97,0.247727
1436,홍시는 날 좋아해! 강하다 웃는해,110,113,130,순정/로맨스,드라마,NaN,NaN,9.97,0.247727
1437,홍시는 날 좋아해! 강하다 웃는해,95,72,79,순정/로맨스,드라마,NaN,NaN,9.97,0.247727
1438,홍시는 날 좋아해! 강하다 웃는해,147,132,142,순정/로맨스,드라마,NaN,NaN,9.97,0.247727
1439,홍시는 날 좋아해! 강하다 웃는해,115,96,81,순정/로맨스,드라마,NaN,NaN,9.97,0.247727
1440,화장 지워주는 남자 이연,225,203,203,순정/로맨스,드라마,NaN,NaN,9.92,0.255107
1441,화장 지워주는 남자 이연,52,42,46,순정/로맨스,드라마,NaN,NaN,9.92,0.255107
1442,화장 지워주는 남자 이연,141,115,128,순정/로맨스,드라마,NaN,NaN,9.92,0.255107
1443,화장 지워주는 남자 이연,140,61,74,순정/로맨스,드라마,NaN,NaN,9.92,0.255107
1444,화장 지워주는 남자 이연,141,154,166,순정/로맨스,드라마,NaN,NaN,9.92,0.255107
1445,화장 지워주는 남자 이연,142,103,86,순정/로맨스,드라마,NaN,NaN,9.92,0.255107
1446,히어로메이커 빤쓰,63,51,47,SF/판타지,NaN,NaN,NaN,9.96,0.256464
1447,히어로메이커 빤쓰,219,208,192,SF/판타지,NaN,NaN,NaN,9.96,0.256464
1448,히어로메이커 빤쓰,178,182,180,SF/판타지,NaN,NaN,NaN,9.96,0.256464
1449,히어로메이커 빤쓰,161,133,117,SF/판타지,NaN,NaN,NaN,9.96,0.256464
1450,히어로메이커 빤쓰,120,122,114,SF/판타지,NaN,NaN,NaN,9.96,0.256464
1451,히어로메이커 빤쓰,166,159,167,SF/판타지,NaN,NaN,NaN,9.96,0.256464

# Sample Code
- 함수 작성 전 test
- **무시하기**

In [208]:
sample_genre = [[0, 0, 0, 10],
               [120, 20, 50, 10],
               [20, 120, 50, 10],
               [30, 255, 200, 5],
               [255, 255, 255, 5],
               [255, 7, 255, 5],
               [0,3,5,5]]

sample_genre = pd.DataFrame(sample_genre, columns=['R','G','B','star_point'])
sample_genre

     R    G    B  star_point
0    0    0    0          10
1  120   20   50          10
2   20  120   50          10
3   30  255  200           5
4  255  255  255           5
5  255    7  255           5
6    0    3    5           5

In [314]:
sample_toon = [['정연이만든웹툰',42, 57, 36,'액션'],
              ['정연이만든웹툰',0, 0, 0,'액션'],
              ['정연이만든웹툰',20, 120, 30,'액션'],
              ['정연이만든웹툰',200, 57, 0,'액션'],
              ['정연이만든웹툰',50, 190, 36,'액션'],
              ['정연이만든웹툰',120, 37, 3,'액션'],
              ['희연',2, 227, 36,'스릴러'],
              ['희연',0, 50, 0,'스릴러'],
              ['희연',20, 0, 30,'스릴러'],
              ['희연',200, 57, 200,'스릴러'],
              ['희연',50, 0, 36,'스릴러'],
              ['희연',10, 237, 3,'스릴러'],
              ['만호',2,2,2,'로맨스'],
              ['만호',122,22,52,'로맨스'],
              ['만호',20,200,25,'로맨스'],
              ['만호',23,552,250,'로맨스'],
              ['만호',20,2,255,'로맨스'],
              ['만호',2,2,2,'로맨스']]
sample_toon = pd.DataFrame(sample_toon, columns=['webtoon','R','G','B','Genre'])
sample_toon

    webtoon    R    G    B Genre
0   정연이만든웹툰   42   57   36    액션
1   정연이만든웹툰    0    0    0    액션
2   정연이만든웹툰   20  120   30    액션
3   정연이만든웹툰  200   57    0    액션
4   정연이만든웹툰   50  190   36    액션
5   정연이만든웹툰  120   37    3    액션
6        희연    2  227   36   스릴러
7        희연    0   50    0   스릴러
8        희연   20    0   30   스릴러
9        희연  200   57  200   스릴러
10       희연   50    0   36   스릴러
11       희연   10  237    3   스릴러
12       만호    2    2    2   로맨스
13       만호  122   22   52   로맨스
14       만호   20  200   25   로맨스
15       만호   23  552  250   로맨스
16       만호   20    2  255   로맨스
17       만호    2    2    2   로맨스

In [317]:
#print(cal_matrix(sample_genre, sample_toon))
score_list = []
webtoon_score(sample_genre, sample_toon, score_list)

정연이만든웹툰
          0         1         2         3         4         5
0  0.179837  0.000000  0.283693  0.470855  0.452235  0.284397
1  0.198017  0.297798  0.323381  0.229437  0.417458  0.113161
2  0.154376  0.297798  0.045282  0.446376  0.175319  0.312891
3  0.291368  0.368441  0.246011  0.372212  0.200988  0.347881
4  0.412129  0.500000  0.398760  0.370746  0.347472  0.406995
5  0.350445  0.408325  0.389894  0.300689  0.397794  0.325413
6  0.085025  0.006601  0.137320  0.234588  0.221924  0.141213
희연
          0         1         2         3         4         5
0  0.520398  0.113206  0.081634  0.653264  0.139496  0.537117
1  0.540404  0.302071  0.235294  0.393911  0.167850  0.561017
2  0.247701  0.199962  0.275442  0.549342  0.281844  0.286373
3  0.190993  0.325996  0.347129  0.295431  0.343969  0.225086
4  0.380133  0.469600  0.467960  0.240823  0.445708  0.398403
5  0.453347  0.411140  0.368396  0.104677  0.339684  0.475504
6  0.256008  0.053507  0.036402  0.322072  0.066686  0.265153
만호
          0         1         2         3         4         5
0  0.007843  0.304370  0.458589  1.372984  0.579141  0.007843
1  0.291289  0.007843  0.469634  1.305423  0.518028  0.291289
2  0.291289  0.320291  0.189768  1.077856  0.535544  0.291289
3  0.365073  0.329383  0.207973  0.341045  0.293319  0.365073
4  0.496078  0.380862  0.377419  0.426680  0.390903  0.496078
5  0.405086  0.275263  0.431631  0.670571  0.266094  0.405086
6  0.004236  0.149560  0.225303  0.681077  0.283921  0.004236

[['정연이만든웹툰', 0.2843939770978658, '액션'],
 ['희연', 0.3183365045644703, '스릴러'],
 ['만호', 0.39505391863265044, '로맨스']]

In [279]:
0.085025 +0.350445+0.412129+0.291368+ 0.154376+ 0.198017+0.179837

1.6711970000000003

In [29]:
max_rgb = np.sqrt((255)**2 + (255)**2 + (255)**2)
max_rgb

441.6729559300637

In [77]:
mat = cal_matrix(sample_genre, sample_toon)
mat

,"42,57,36","0,0,0","20,120,30","200,57,0","50,190,36","120,37,3","2,227,36","0,50,0","20,0,30","200,57,200","50,0,36","10,237,3"
"0,0,0",0.179837,0.000000,0.283693,0.470855,0.452235,0.284397,0.520398,0.113206,0.081634,0.653264,0.139496,0.537117
"120,20,50",0.198017,0.297798,0.323381,0.229437,0.417458,0.113161,0.540404,0.302071,0.235294,0.393911,0.167850,0.561017
"20,120,50",0.154376,0.297798,0.045282,0.446376,0.175319,0.312891,0.247701,0.199962,0.275442,0.549342,0.281844,0.286373
"30,255,200",0.582737,0.736883,0.492023,0.744423,0.401975,0.695763,0.381986,0.651991,0.694258,0.590861,0.687938,0.450173
"255,255,255",0.824257,1.000000,0.797520,0.741491,0.694944,0.813991,0.760265,0.939200,0.935919,0.481646,0.891416,0.796806
"255,7,255",0.700890,0.816650,0.779788,0.601378,0.795589,0.650827,0.906694,0.822280,0.736792,0.209354,0.679368,0.951008
"0,3,5",0.170050,0.013202,0.274640,0.469175,0.443848,0.282426,0.512016,0.107014,0.072805,0.644145,0.133372,0.530307

In [62]:
a = []
for i in mat:
    a.append(sum(mat[i]))
print(sum(a))
1/sum(a)*100000

17605.403311413615

5.680074363032048

In [72]:
a = []
for i in range(len(mat)):
    a.append(sum(mat.iloc[i,:]))
sum(a)

17605.403311413615

In [73]:
max_rgb = np.sqrt((255)**2 + (255)**2 + (255)**2)
max_rgb

441.6729559300637